<a routerLink="forms" routerLinkActive="active" class="link"><button class="button">ADD Detail</button></a>


<table border="2">
    <thead>
        <tr>
            <th *ngFor="let header of TableHeading">{{ header.lable}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of DataFromLoacalStore;">
            <td *ngFor="let c of TableHeading">

                @if(c.key!='actions'){
                    @if(c.key=='street' || c.key=='city'){
                        {{row.address[c.key]}}
                    }
                {{row[c.key]}}
                }@else {
                @for (c of actions; track $index) {
                <button [routerLink]="RouterLink(actions[$index])" (click)="call(row.id,actions[$index])">
                    {{c}}
                </button>
                }
                }
            </td>
        </tr>
    </tbody>
</table>

<button class="button" (click)="remove()">Delete Record</button>