<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="mainDiv">
  <header>
    <h3>MSI</h3>
  </header>
  <nav class="nav">
    <a routerLink="/RouteOne" routerLinkActive="active" class="link">Route One</a>
    <a routerLink="/RouteTwo" routerLinkActive="active" class="link">Route Two</a>
    <a routerLink="/RouteThree" routerLinkActive="active" class="link">Route Three</a> 
  </nav>
  

</div>


<router-outlet />
