<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="mainDiv">
  <header>
    <h3>MSI Angular</h3>
  </header>
  <nav class="nav">
    <a routerLink="/ChildOne" routerLinkActive="active" class="link">Child One</a>
    <a routerLink="/ChildTwo" routerLinkActive="active" class="link">Child Two</a>
    <a routerLink="/ChildThree" routerLinkActive="active" class="link">Child Three</a>
  </nav>

</div>
<!-- {{data }} -->
<!-- <div *ngFor="let i of data">
  <p><strong>Heading:</strong>{{i.Heading}} <strong>Text:</strong>{{i.text}} </p>
</div> -->


<!-- <p> {{ outputMessage | json}}</p> -->
<router-outlet (activate)="onActivate($event)" />


<span class="outPut">
  <strong>Data From Childs</strong>
  <div *ngFor="let item of outputMessage">
    <p><strong>The Heading is: </strong>{{ item.heading}} <strong> <br />The Text is: </strong>{{item.text}}</p>
  </div>
</span>