<main class="mainForm">
    <h1>Enter Details</h1>
    <form [formGroup]="registerationForm" class="Form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Enter Your Name</mat-label>
            <input matInput formControlName="name" type="name" placeholder="Enter Name">
        </mat-form-field>
      
        <mat-form-field appearance="outline">
            <mat-label>Enter Your Email</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Enter Email" >
        </mat-form-field>
      
        <mat-form-field appearance="outline">
            <mat-label>Enter Phone No</mat-label>
            <input matInput formControlName="phone" type="text" placeholder="Enter Phone No">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
            <mat-label>Enter Address</mat-label>
            <input matInput formControlName="website" type="text" placeholder="Enter Address" >
        </mat-form-field> -->

        <mat-form-field appearance="outline">
            <mat-label>Enter Address</mat-label>
            <input matInput formControlName="address" type="text" placeholder="Enter Address" >
        </mat-form-field>
     
    
        <button type="submit" mat-flat-button *ngIf="disAble">Submit</button>
        <button mat-flat-button *ngIf="updateButton" (click)="update()"> update</button>
        <button mat-flat-button *ngIf="clearButton" (click)="clear()"> Clear</button>
    </form>
   
    <a routerLink="/table" routerLinkActive="active" class="link">
        <button mat-flat-button class="button"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
                <path fill-rule="evenodd"
                    d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
            </svg>
            Go Back
        </button> 
    </a>
   
</main>







