.mainForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: royalblue;
}
.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: royalblue;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}
.link{
    text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.tableData{
    padding-left: 10px;
    text-align: center;    
}

