<div class="w-full h-full px-20 pt-5 custom-class-main justify-center border-4 align-middle flex ">

    <main
        class="mainContainer h-full flex flex-row max-md:flex-col w-full justify-self-center self-center mx-2 my-2 justify-between border-2 rounded shadow-md bg-white rounded-tl-lg rounded-bl-lg custom-class-main-1">

        <div
            class=" bGColor rounded-tl-lg custom-class-Ls rounded-bl-lg w-1/3 flex justify-center flex-col ms:hide ">
            <h1 class="font-bold text-white flex justify-center text-center my-4">
                WelCome Back!
            </h1>
            <h5 class=" text-white flex justify-center text-center my-4">
                To keep connected with us please <br />
                login with your personal info
            </h5>
            <button type="submit" mat-flat-button routerLink=""
                class="text-white font-bold rounded-full border-2 border-white self-center py-2 w-1/3 mx-5 my-5 cursor-pointer bGColor transition-colors">
                SGIN IN
            </button>

        </div>

        <form [formGroup]="registerationForm"
            class="flex flex-col mr-8 mt-1 h-full w-1/2 justify-between ms:h-full custom-class-Rs"
            (ngSubmit)="onSubmit()">

            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text" placeholder="Enter Your Name">
                <mat-error
                    *ngIf="registerationForm.get('name')?.hasError('required') && registerationForm.get('name')?.touched">Name
                    is Required</mat-error>
                    <mat-error
                    *ngIf="registerationForm.get('name')?.hasError('pattern') && registerationForm.get('name')?.touched">Name
                    contain only Alfabets</mat-error>
                <button mat-icon-button matSuffix class="mr-4">
                    <mat-icon>personal</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter Email</mat-label>
                <input matInput formControlName="email" type="email" placeholder="Enter Your Email">
                <mat-error
                    *ngIf="registerationForm.get('email')?.hasError('required') && registerationForm.get('email')?.touched">Email
                    is Required
                </mat-error>
                <mat-error
                    *ngIf="registerationForm.get('email')?.hasError('email') && registerationForm.get('email')?.touched">Enter
                    Valid Email
                </mat-error>
                <button mat-icon-button matSuffix class="mr-4">
                    <mat-icon>email</mat-icon>
                </button>
            </mat-form-field>

            <small *ngIf="Match" class="text-red-600">
                Password & confirmPassword Should Be Same
            </small>
            <mat-form-field>
                <mat-label>Enter your Password</mat-label>
                <input matInput (keyup)="matchPassword()" formControlName="password" [type]="hide ? 'password' : 'text'"
                    placeholder="Enter Password" />
                <mat-error
                    *ngIf="registerationForm.get('password')?.hasError('required') && registerationForm.get('password')?.touched">Please
                    Enter Password</mat-error>
                <mat-error
                    *ngIf="registerationForm.get('password')?.hasError('minlength') && registerationForm.get('password')?.touched">Please
                    Enter strong Password</mat-error>
                <button class="mr-4" mat-icon-button matSuffix (click)="clickEvent()"
                type="button"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <small *ngIf="Match" class="text-red-600">
                Password & confirmPassword Should Be Same
            </small>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput (keyup)="matchPassword()" formControlName="confirmPassword" [type]="hide ? 'password' : 'text'"
                    placeholder="Confirm Password" />
                <mat-error
                    *ngIf="registerationForm.get('confirmPassword')?.hasError('required') && registerationForm.get('confirmPassword')?.touched">Confirm
                    Password Please</mat-error>
                <mat-error
                    *ngIf="registerationForm.get('confirmPassword')?.hasError('minlength') && registerationForm.get('password')?.touched">Please
                    Enter strong Password</mat-error>
        
                <button type="button" class="mr-4" mat-icon-button matSuffix (click)="clickEvent()"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>



            <mat-form-field appearance="fill">
                <mat-label>Enter Phone No</mat-label>
                <input matInput formControlName="phone" type="number" placeholder="Enter Phone No:">
                <mat-error
                    *ngIf="registerationForm.get('phone')?.hasError('required') && registerationForm.get('phone')?.touched">Phone
                    Number is Required</mat-error>
                <button mat-icon-button matSuffix class="mr-4">
                    <mat-icon>phone</mat-icon>
                </button>
            </mat-form-field>


            <mat-form-field  appearance="fill">
                <mat-label>Enter Your Role</mat-label>
                <mat-select formControlName="role">
                  @for (type of typeList; track type) {
                    <mat-option [value]="type.value">{{type.viewValue}}</mat-option>
                  }
                </mat-select>
                <mat-error
                *ngIf="registerationForm.get('role')?.hasError('required') && registerationForm.get('role')?.touched">
                Mention Your Role
            </mat-error> 
              </mat-form-field >



            <button type="submit" mat-flat-button 
                class="text-white font-bold rounded-full self-center py-2 w-1/3 mb-1 cursor-pointer bGColor transition-colors">
                SGIN UP
            </button>

           
            
        </form>

    </main>

</div>

<!-- <button (click)="remove()">remove</button> -->