body{
    background-color: rgba(239, 225, 225, 0.886);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bi-box-arrow-left,
.bi-caret-down-fill,
.bi-globe2{
    color: #18535A;
}
#button{
    background-color: white;
    border: solid white 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    color: royalblue;
}
#button:hover,
#header-Span1-Inner2:hover,
.navButton:hover{
    opacity: .5;
}
#header-Span1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}
#header-Span1-Inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}
.heading{
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: royalblue;
    margin-left: 5%;
}
#header-Span1-Inner2{
display: flex;
flex-direction: row;
align-items: center;
padding: 2px;
border: solid white 1px;
background-color: white;
border-radius: 4px;
cursor: pointer;
}
#engbutton{
    border: transparent;
    color: #18535A;
}
#navBar{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inline{
list-style: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
padding: 5px;
background-color: white;
border-radius: 10px;
width: 50%;
}
.navButton{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border: transparent;
    color: #18535A;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.active{
    color: white;
    background-color: #18535A;
}
#buttonEditApplication{
    color: white;
    background-color: #00D1A0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: transparent;
}
#header-Span3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: transparent;
    color: #18535A;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.heading{
    color: #18535A;
}
#header-Span3-Inner1{
    display: flex;
    justify-content: space-around;
    width: 28%;
    flex-direction: row;
}
.button-Discion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    border: transparent;
    border-radius: 5px;
}
#button-Discion1{
    background-color: #E88914;
}
#button-Discion2{
    background-color: #D75C5E;
    padding-left: 25px;
    padding-right: 25px;
}
#button-Discion3{
    background-color: #00D1A0;
    padding-left: 25px;
    padding-right: 25px;
}
#mainContainer-Span1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    margin-top: 10px;
}
.mainContainer-Span1-Inner{
    height: 100px;
    background-color: white;
    padding-left: 5%;
    padding-top: 5%;
    border-radius: 20px;
}
.bi-cash-coin,
.bi-calendar-day,
.bi-file-earmark-bar-graph-fill{
    padding:10px ;
    border-radius: 25px;
    color: #00D1A0;
    border: solid lightgreen 1px;
    background-color: rgb(206, 245, 206);
}
.lightGry{
    color: lightslategray;
    font-size: 12px;
}
.LightOrg{
    color: #D75C5E;
    text-align: center;
    padding-left: 15px;
}
#mainContainer-Span2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-top: 10px;
}
.mainContainer-Span2-Inner{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    height: auto;
}
.inline-Inline{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
}
.C-DarkGreen{
   color: #18535A;
}
.C-LightGreen{
    color: #00D1A0;
}







@media (max-width: 	480px){
   #navBar{
    display: grid;
    grid-template-rows:1fr 1fr;
    align-items: center;
   }
   #buttonEditApplicationSpan{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 100px;
   }
   #mainContainer-Span1{
    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap: 10px;
    margin-top: 10px;
  }
  .mainContainer-Span1-Inner{
    margin-top: 10px;
  }
  #mainContainer-Span2{
   display: flex;
   flex-direction: column;
    column-gap: 10px;
 }
 .mainContainer-Span2-Inner{
    margin-bottom: 10px;
 }
 .inline{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }
 #header-Span3-Inner1{
    display: flex;
    width: 100%;
 }
}
